@font-face {
  font-family: Open_Sans;
  src: url("font/Raleway/static/Raleway-Medium.ttf") format("truetype");
}

.App-header {
  display: flex;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 7%;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  color: white;
  padding: 0 0.75rem;
}

.App-link {
  color: #61dafb;
}

.main-content{
  display: flex;
  flex-direction: row;
  height: 93%;
  width: 100%;
}
