@font-face {
  font-family: Open_Sans;
  src: url("Raleway/static/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: 2rem;
}

*{
  font-family: "Open_Sans", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  color: white;
  padding: 0 0.75rem;
}

.App-link {
  color: #61dafb;
}
